In [1]:
# 이상치 표시
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('bicycle3.csv', encoding='utf-8')
df

,Unnamed: 0,대여일자,시간(24:00),대여소명,대여권,연령대,성별,이동거리(km),사용시간(hr),속도(km/h)
0,4196232,01/01/2018,0.0,정동사거리,정기권,~10대,F,1.45,0.38,3.82
1,4196233,01/01/2018,0.0,자양사거리 광진아크로텔 앞,정기권,20대,F,2.13,0.25,8.52
2,4196234,01/01/2018,0.0,미아사거리 1번 출구,정기권,20대,F,3.14,0.28,11.21
3,4196235,01/01/2018,0.0,광진메디칼 앞,정기권,20대,F,1.24,0.08,15.50
4,4196236,01/01/2018,0.0,화양사거리,정기권,20대,F,1.94,0.72,2.69
...,...,...,...,...,...,...,...,...,...,...
26139375,45180960,2020-12-31,23.0,125. 서강대 남문 옆,일일권,20대,M,3.03,0.68,4.46
26139376,45180962,2020-12-31,23.0,1211. 방이삼거리,일일권,20대,M,3.55,0.52,6.83
26139377,45180966,2020-12-31,23.0,1416. 상봉역 3번출구,일일권,30대,M,0.71,0.07,10.14
26139378,45180967,2020-12-31,23.0,1625. 상계역(4번출구),일일권,50대,M,0.65,0.12,5.42
26139379,45180968,2020-12-31,23.0,419. 홈플러스 앞,단체권,20대,NaN,9.19,2.13,4.31

In [3]:
del df['Unnamed: 0']

In [4]:
df.sort_values(by='속도(km/h)', ascending=False).head(5)

# data error = 이동거리 (13187.89 km) 
# df = merge, join, concat

,대여일자,시간(24:00),대여소명,대여권,연령대,성별,이동거리(km),사용시간(hr),속도(km/h)
23976218,2020-06-22,12.0,1019. 다성이즈빌아파트(호원대 대각선 맞은편),정기권,30대,NaN,13187.89,0.05,263757.80
23908802,2020-06-18,18.0,513. 뚝섬역 5번 출구 정류소 옆,정기권,30대,F,13180.60,0.05,263612.00
23970535,2020-06-21,23.0,277. 영등포뉴타운지하상가 2번게이트,정기권,30대,NaN,13170.18,0.05,263403.60
23545010,2020-06-02,18.0,500. 어린이대공원역 3번출구 앞,정기권,40대,M,13182.47,0.07,188321.00
23601489,2020-06-04,21.0,363. 신설동역 11번출구 뒤,정기권,30대,M,13177.04,0.07,188243.43

In [5]:
df_sample = pd.read_csv('sample_data.csv', encoding='utf-8')

In [7]:
df_sample.head(5)

,대여일자,대여시간,대여소번호,대여소명,대여구분코드,성별,연령대코드,이용건수,운동량(Kcal),탄소량(%),이동거리(KM),사용시간(분),년도,월
0,2020-11-21,22,2634,2634.위례포레샤인아파트 2318동,정기권,NaN,20대,1,0.00,0.00,0.00,13,2020,11
1,2018-12-02,14,1366,1366. 일신초등학교 옆,정기권,M,30대,1,62.55,0.56,2.43,19,2018,12
2,2018-06-16,12,1675,1675. 월계문화체육센터,단체권,F,30대,3,798.20,7.20,31.01,192,2018,6
3,2018-07-03,11,567,567. 성수역 2번출구 앞,정기권,M,70대~,1,96.01,0.87,3.73,43,2018,7
4,2020-08-16,15,1920,1920. 서울미래초등학교 사거리,정기권,NaN,20대,1,0.00,0.00,0.00,4,2020,8

In [8]:
df_km = df_sample['이동거리(KM)']

In [9]:
df_km.head(10)

0     0.00
1     2.43
2    31.01
3     3.73
4     0.00
5     3.01
6     0.00
7     1.70
8     2.69
9     3.65
Name: 이동거리(KM), dtype: float64

In [ ]:
# df_sample 의 이동거리 칼럼을 복사 -> (대여일자 일치하는 걸 index로 써서) df에 붙여넣기 
# ----------HOW ?------------------


# df_sample 다시 만들기 --- df처럼

In [10]:
df2 = df_sample
df2.head()

,대여일자,대여시간,대여소번호,대여소명,대여구분코드,성별,연령대코드,이용건수,운동량(Kcal),탄소량(%),이동거리(KM),사용시간(분),년도,월
0,2020-11-21,22,2634,2634.위례포레샤인아파트 2318동,정기권,NaN,20대,1,0.00,0.00,0.00,13,2020,11
1,2018-12-02,14,1366,1366. 일신초등학교 옆,정기권,M,30대,1,62.55,0.56,2.43,19,2018,12
2,2018-06-16,12,1675,1675. 월계문화체육센터,단체권,F,30대,3,798.20,7.20,31.01,192,2018,6
3,2018-07-03,11,567,567. 성수역 2번출구 앞,정기권,M,70대~,1,96.01,0.87,3.73,43,2018,7
4,2020-08-16,15,1920,1920. 서울미래초등학교 사거리,정기권,NaN,20대,1,0.00,0.00,0.00,4,2020,8

In [12]:
del df2['이용건수']
del df2['운동량(Kcal)']
del df2['탄소량(%)']
del df2['년도']
del df2['월']
df2.head()

,대여일자,대여시간,대여소번호,대여소명,대여구분코드,성별,연령대코드,이동거리(KM),사용시간(분)
0,2020-11-21,22,2634,2634.위례포레샤인아파트 2318동,정기권,NaN,20대,0.00,13
1,2018-12-02,14,1366,1366. 일신초등학교 옆,정기권,M,30대,2.43,19
2,2018-06-16,12,1675,1675. 월계문화체육센터,단체권,F,30대,31.01,192
3,2018-07-03,11,567,567. 성수역 2번출구 앞,정기권,M,70대~,3.73,43
4,2020-08-16,15,1920,1920. 서울미래초등학교 사거리,정기권,NaN,20대,0.00,4

In [16]:
df2['사용시간(hr)']=df2['사용시간(분)']/60
df2['사용시간(hr)']=round(df2['사용시간(hr)'],2)
df2

,대여일자,대여시간,대여소번호,대여소명,대여구분코드,성별,연령대코드,이동거리(KM),사용시간(분),사용시간(hr)
0,2020-11-21,22,2634,2634.위례포레샤인아파트 2318동,정기권,NaN,20대,0.00,13,0.22
1,2018-12-02,14,1366,1366. 일신초등학교 옆,정기권,M,30대,2.43,19,0.32
2,2018-06-16,12,1675,1675. 월계문화체육센터,단체권,F,30대,31.01,192,3.20
3,2018-07-03,11,567,567. 성수역 2번출구 앞,정기권,M,70대~,3.73,43,0.72
4,2020-08-16,15,1920,1920. 서울미래초등학교 사거리,정기권,NaN,20대,0.00,4,0.07
...,...,...,...,...,...,...,...,...,...,...
999995,2020-03-02,18,1288,1288. 문정중교 사거리,일일권,M,30대,12.64,93,1.55
999996,2018-08-22,8,714,714. 한국SGI 양천문화회관 앞,정기권,F,20대,1.38,10,0.17
999997,2020-07-01,17,2621,2621. 한성백제역 2번 출구,정기권,NaN,70대~,1.07,16,0.27
999998,2018-04-16,15,305,305. 종로구청 옆,정기권,F,40대,2.83,24,0.40
999999,2018-07-29,17,1019,1019. 다성이즈빌아파트(호원대 대각선 맞은편),정기권,F,20대,1.21,8,0.13

In [17]:
del df2['사용시간(분)']
df2

,대여일자,대여시간,대여소번호,대여소명,대여구분코드,성별,연령대코드,이동거리(KM),사용시간(hr)
0,2020-11-21,22,2634,2634.위례포레샤인아파트 2318동,정기권,NaN,20대,0.00,0.22
1,2018-12-02,14,1366,1366. 일신초등학교 옆,정기권,M,30대,2.43,0.32
2,2018-06-16,12,1675,1675. 월계문화체육센터,단체권,F,30대,31.01,3.20
3,2018-07-03,11,567,567. 성수역 2번출구 앞,정기권,M,70대~,3.73,0.72
4,2020-08-16,15,1920,1920. 서울미래초등학교 사거리,정기권,NaN,20대,0.00,0.07
...,...,...,...,...,...,...,...,...,...
999995,2020-03-02,18,1288,1288. 문정중교 사거리,일일권,M,30대,12.64,1.55
999996,2018-08-22,8,714,714. 한국SGI 양천문화회관 앞,정기권,F,20대,1.38,0.17
999997,2020-07-01,17,2621,2621. 한성백제역 2번 출구,정기권,NaN,70대~,1.07,0.27
999998,2018-04-16,15,305,305. 종로구청 옆,정기권,F,40대,2.83,0.40
999999,2018-07-29,17,1019,1019. 다성이즈빌아파트(호원대 대각선 맞은편),정기권,F,20대,1.21,0.13

In [19]:
df2['속도(km/h)']=df2['이동거리(KM)']/df2['사용시간(hr)']
df2['속도(km/h)']=round(df2['속도(km/h)'],2)
df2

,대여일자,대여시간,대여소번호,대여소명,대여구분코드,성별,연령대코드,이동거리(KM),사용시간(hr),속도(km/h)
0,2020-11-21,22,2634,2634.위례포레샤인아파트 2318동,정기권,NaN,20대,0.00,0.22,0.00
1,2018-12-02,14,1366,1366. 일신초등학교 옆,정기권,M,30대,2.43,0.32,7.59
2,2018-06-16,12,1675,1675. 월계문화체육센터,단체권,F,30대,31.01,3.20,9.69
3,2018-07-03,11,567,567. 성수역 2번출구 앞,정기권,M,70대~,3.73,0.72,5.18
4,2020-08-16,15,1920,1920. 서울미래초등학교 사거리,정기권,NaN,20대,0.00,0.07,0.00
...,...,...,...,...,...,...,...,...,...,...
999995,2020-03-02,18,1288,1288. 문정중교 사거리,일일권,M,30대,12.64,1.55,8.15
999996,2018-08-22,8,714,714. 한국SGI 양천문화회관 앞,정기권,F,20대,1.38,0.17,8.12
999997,2020-07-01,17,2621,2621. 한성백제역 2번 출구,정기권,NaN,70대~,1.07,0.27,3.96
999998,2018-04-16,15,305,305. 종로구청 옆,정기권,F,40대,2.83,0.40,7.08
999999,2018-07-29,17,1019,1019. 다성이즈빌아파트(호원대 대각선 맞은편),정기권,F,20대,1.21,0.13,9.31

In [25]:
# 특정 column에 NaN값 있는 경우 삭제
#               df2['대여소명'].isnull().sum()
#               df2['대여소명'].value_counts(dropna=False)   

# 특정 row 값이 있는 row 제거 
#               대여소명 = '상암센터 정비실', '위트콤', '중랑센터'인 경우
#               모두 대여소 목록에 없는 대여소에서 생성한 데이터이므로 제거

# 1) 칼럼 내 항목 갯수 조회 
df2['대여소명'].str.contains('상암센터 정비실').sum()

11

In [27]:
# 2) 삭제방법 1 : 조건 만족 행의 index 추출 --> drop 
idx = df2[df2['대여소명']=='상암센터 정비실'].index 
df2.drop(idx, inplace=True)
df2

,대여일자,대여시간,대여소번호,대여소명,대여구분코드,성별,연령대코드,이동거리(KM),사용시간(hr),속도(km/h)
0,2020-11-21,22,2634,2634.위례포레샤인아파트 2318동,정기권,NaN,20대,0.00,0.22,0.00
1,2018-12-02,14,1366,1366. 일신초등학교 옆,정기권,M,30대,2.43,0.32,7.59
2,2018-06-16,12,1675,1675. 월계문화체육센터,단체권,F,30대,31.01,3.20,9.69
3,2018-07-03,11,567,567. 성수역 2번출구 앞,정기권,M,70대~,3.73,0.72,5.18
4,2020-08-16,15,1920,1920. 서울미래초등학교 사거리,정기권,NaN,20대,0.00,0.07,0.00
...,...,...,...,...,...,...,...,...,...,...
999995,2020-03-02,18,1288,1288. 문정중교 사거리,일일권,M,30대,12.64,1.55,8.15
999996,2018-08-22,8,714,714. 한국SGI 양천문화회관 앞,정기권,F,20대,1.38,0.17,8.12
999997,2020-07-01,17,2621,2621. 한성백제역 2번 출구,정기권,NaN,70대~,1.07,0.27,3.96
999998,2018-04-16,15,305,305. 종로구청 옆,정기권,F,40대,2.83,0.40,7.08
999999,2018-07-29,17,1019,1019. 다성이즈빌아파트(호원대 대각선 맞은편),정기권,F,20대,1.21,0.13,9.31

In [28]:
# 확인 = 0 
df2['대여소명'].str.contains('상암센터 정비실').sum()

0

In [30]:
# df2['대여소명'].str.contains('위트콤').sum()   #5
idx2 = df2[df2['대여소명']=='위트콤'].index 
df2.drop(idx2, inplace=True)
df2['대여소명'].str.contains('위트콤').sum()     #0

0

In [31]:
df2

,대여일자,대여시간,대여소번호,대여소명,대여구분코드,성별,연령대코드,이동거리(KM),사용시간(hr),속도(km/h)
0,2020-11-21,22,2634,2634.위례포레샤인아파트 2318동,정기권,NaN,20대,0.00,0.22,0.00
1,2018-12-02,14,1366,1366. 일신초등학교 옆,정기권,M,30대,2.43,0.32,7.59
2,2018-06-16,12,1675,1675. 월계문화체육센터,단체권,F,30대,31.01,3.20,9.69
3,2018-07-03,11,567,567. 성수역 2번출구 앞,정기권,M,70대~,3.73,0.72,5.18
4,2020-08-16,15,1920,1920. 서울미래초등학교 사거리,정기권,NaN,20대,0.00,0.07,0.00
...,...,...,...,...,...,...,...,...,...,...
999995,2020-03-02,18,1288,1288. 문정중교 사거리,일일권,M,30대,12.64,1.55,8.15
999996,2018-08-22,8,714,714. 한국SGI 양천문화회관 앞,정기권,F,20대,1.38,0.17,8.12
999997,2020-07-01,17,2621,2621. 한성백제역 2번 출구,정기권,NaN,70대~,1.07,0.27,3.96
999998,2018-04-16,15,305,305. 종로구청 옆,정기권,F,40대,2.83,0.40,7.08
999999,2018-07-29,17,1019,1019. 다성이즈빌아파트(호원대 대각선 맞은편),정기권,F,20대,1.21,0.13,9.31

In [34]:
# df2['대여소명'].str.contains('중랑센터').sum() # 44
idx3 = df2[df2['대여소명']=='중랑센터'].index 
df2.drop(idx3, inplace=True)
df2['대여소명'].str.contains('중랑센터').sum()   # 30

# -------왜 다 안지워지지? -----------
# --------------지워졌음 -----

30

In [36]:
# m-> M  f-> F    --------------------HOW?----------------------------
# df1['성별'].unique()               
df2['성별'].value_counts(dropna=False)

NaN    382763
M      379182
F      233865
\N       3749
m         256
f         155
Name: 성별, dtype: int64

In [ ]:
# for row in df2:
#     if row[5] == m : m = M 
#     if row[5] == f : f = F

In [39]:
df2.rename(columns={'대여구분코드':'대여권', '연령대코드':'연령대', '대여시간(24:00)':'시간(24:00)'},inplace=True)
df2

,대여일자,대여시간,대여소번호,대여소명,대여권,성별,연령대,이동거리(KM),사용시간(hr),속도(km/h)
0,2020-11-21,22,2634,2634.위례포레샤인아파트 2318동,정기권,NaN,20대,0.00,0.22,0.00
1,2018-12-02,14,1366,1366. 일신초등학교 옆,정기권,M,30대,2.43,0.32,7.59
2,2018-06-16,12,1675,1675. 월계문화체육센터,단체권,F,30대,31.01,3.20,9.69
3,2018-07-03,11,567,567. 성수역 2번출구 앞,정기권,M,70대~,3.73,0.72,5.18
4,2020-08-16,15,1920,1920. 서울미래초등학교 사거리,정기권,NaN,20대,0.00,0.07,0.00
...,...,...,...,...,...,...,...,...,...,...
999995,2020-03-02,18,1288,1288. 문정중교 사거리,일일권,M,30대,12.64,1.55,8.15
999996,2018-08-22,8,714,714. 한국SGI 양천문화회관 앞,정기권,F,20대,1.38,0.17,8.12
999997,2020-07-01,17,2621,2621. 한성백제역 2번 출구,정기권,NaN,70대~,1.07,0.27,3.96
999998,2018-04-16,15,305,305. 종로구청 옆,정기권,F,40대,2.83,0.40,7.08
999999,2018-07-29,17,1019,1019. 다성이즈빌아파트(호원대 대각선 맞은편),정기권,F,20대,1.21,0.13,9.31

In [38]:
# 이동 거리와 사용 시간이 모두 0인 데이터: 삭제

# 방법 1
# idx4 = df1[df1['이동거리(km)']==0.00].index
# df1.drop(idx4, inplace=True)

# 방법 2
# df1[df1.이동거리(km) != 0.00]   OR 
# df0 = df1[df1['이동거리(km)'] != 0.00]

IndexError: string index out of range

In [42]:
# df2.sort_values(by='이동거리(KM)', ascending=True)       # 999970 rows
df2 = df2[df2['이동거리(KM)'] != 0.00]
df2.sort_values(by='이동거리(KM)', ascending=True)         # 704064 rows
# df2['이동거리(KM)'].value_counts(ascending=True, dropna=False)

,대여일자,대여시간,대여소번호,대여소명,대여권,성별,연령대,이동거리(KM),사용시간(hr),속도(km/h)
1,2018-12-02,14,1366,1366. 일신초등학교 옆,정기권,M,30대,2.43,0.32,7.59
2,2018-06-16,12,1675,1675. 월계문화체육센터,단체권,F,30대,31.01,3.20,9.69
3,2018-07-03,11,567,567. 성수역 2번출구 앞,정기권,M,70대~,3.73,0.72,5.18
5,2018-04-21,11,3102,3102. 연희삼거리,정기권,M,30대,3.01,0.28,10.75
7,2019-09-30,19,111,111. 상수역 2번출구 앞,정기권,M,20대,1.70,0.20,8.50
...,...,...,...,...,...,...,...,...,...,...
999995,2020-03-02,18,1288,1288. 문정중교 사거리,일일권,M,30대,12.64,1.55,8.15
999996,2018-08-22,8,714,714. 한국SGI 양천문화회관 앞,정기권,F,20대,1.38,0.17,8.12
999997,2020-07-01,17,2621,2621. 한성백제역 2번 출구,정기권,NaN,70대~,1.07,0.27,3.96
999998,2018-04-16,15,305,305. 종로구청 옆,정기권,F,40대,2.83,0.40,7.08
999999,2018-07-29,17,1019,1019. 다성이즈빌아파트(호원대 대각선 맞은편),정기권,F,20대,1.21,0.13,9.31

In [47]:
# df2.sort_values(by='사용시간(hr)', ascending=True)       # 704064 rows
df2['사용시간(hr)'].value_counts(ascending=True, dropna=False)

9.83         1
16.95        1
14.98        1
17.75        1
11.65        1
         ...
0.07     25262
0.13     25281
0.12     26077
0.08     27222
0.10     27497
Name: 사용시간(hr), Length: 820, dtype: int64

In [52]:
df2

,대여일자,대여시간,대여소번호,대여소명,대여권,성별,연령대,이동거리(KM),사용시간(hr),속도(km/h)
1,2018-12-02,14,1366,1366. 일신초등학교 옆,정기권,M,30대,2.43,0.32,7.59
2,2018-06-16,12,1675,1675. 월계문화체육센터,단체권,F,30대,31.01,3.20,9.69
3,2018-07-03,11,567,567. 성수역 2번출구 앞,정기권,M,70대~,3.73,0.72,5.18
5,2018-04-21,11,3102,3102. 연희삼거리,정기권,M,30대,3.01,0.28,10.75
7,2019-09-30,19,111,111. 상수역 2번출구 앞,정기권,M,20대,1.70,0.20,8.50
...,...,...,...,...,...,...,...,...,...,...
999995,2020-03-02,18,1288,1288. 문정중교 사거리,일일권,M,30대,12.64,1.55,8.15
999996,2018-08-22,8,714,714. 한국SGI 양천문화회관 앞,정기권,F,20대,1.38,0.17,8.12
999997,2020-07-01,17,2621,2621. 한성백제역 2번 출구,정기권,NaN,70대~,1.07,0.27,3.96
999998,2018-04-16,15,305,305. 종로구청 옆,정기권,F,40대,2.83,0.40,7.08
999999,2018-07-29,17,1019,1019. 다성이즈빌아파트(호원대 대각선 맞은편),정기권,F,20대,1.21,0.13,9.31

In [56]:
# df2['대여소명'].value_counts(ascending=True, dropna=False) 
df2.sort_values(by='대여소명', ascending=False)[:30]

# 상담센터 , 99999. 영남단말기정비  :  삭제
# 

# df2['대여소번호'].value_counts(ascending=True, dropna=False) 
# df2.sort_values(by='대여소번호', ascending=False)[:30]
# 9999
# 99999

,대여일자,대여시간,대여소번호,대여소명,대여권,성별,연령대,이동거리(KM),사용시간(hr),속도(km/h)
12802,2020-07-08,13,9999,상담센터,정기권,F,30대,0.99,0.13,7.62
733170,2020-07-16,14,9999,상담센터,단체권,NaN,20대,20.34,1.68,12.11
566075,2020-10-28,17,9999,상담센터,정기권,NaN,40대,8.80,0.85,10.35
617584,2019-01-09,11,99999,99999. 영남단말기정비,정기권,M,30대,2.35,0.17,13.82
568441,2019-04-23,21,99999,99999. 영남단말기정비,일일권,F,30대,2.52,1.00,2.52
613567,2019-05-07,23,99999,99999. 영남단말기정비,정기권,NaN,20대,3.08,0.28,11.00
720765,2019-04-19,7,99999,99999. 영남단말기정비,정기권,F,40대,4.06,0.28,14.50
392527,2019-02-16,17,99999,99999. 영남단말기정비,정기권,M,40대,2.15,0.13,16.54
591405,2019-05-01,17,99999,99999. 영남단말기정비,일일권,F,20대,1.52,0.20,7.60
190904,2019-05-03,19,99999,99999. 영남단말기정비,정기권,M,30대,2.36,1.90,1.24
53476,2019-09-02,17,99999,99999. 영남단말기정비,정기권,NaN,20대,1.18,0.20,5.90
286625,2019-04-26,18,99999,99999. 영남단말기정비,정기권,M,40대,5.05,0.48,10.52
557914,2019-01-03,14,99999,99999. 영남단말기정비,정기권,F,30대,0.72,0.05,14.40
38812,2019-05-05,3,99999,99999. 영남단말기정비,정기권,M,40대,2.39,0.13,18.38
879248,2018-12-28,22,99999,99999. 영남단말기정비,정기권,\N,20대,6.36,0.87,7.31
51903,2019-02-22,13,99999,99999. 영남단말기정비,정기권,M,~10대,0.50,0.05,10.00
230196,2019-05-03,7,99999,99999. 영남단말기정비,정기권,M,20대,5.14,0.35,14.69
802977,2019-05-03,18,99999,99999. 영남단말기정비,정기권,M,40대,2.49,0.20,12.45
170958,2019-02-27,10,99999,99999. 영남단말기정비,정기권,M,20대,1.61,0.10,16.10
919596,2019-02-12,16,99999,99999. 영남단말기정비,일일권,F,20대,2.41,0.20,12.05
155388,2018-12-22,13,99999,99999. 영남단말기정비,정기권,F,20대,1.37,0.10,13.70
478787,2019-01-04,8,99999,99999. 영남단말기정비,정기권,M,30대,2.31,0.13,17.77
242547,2019-04-30,15,99999,99999. 영남단말기정비,일일권,NaN,20대,3.65,0.50,7.30
719439,2018-12-14,1,99999,99999. 영남단말기정비,정기권,\N,20대,0.76,0.07,10.86
205529,2019-01-19,17,99999,99999. 영남단말기정비,정기권,M,20대,3.52,0.58,6.07
117945,2019-09-18,10,99999,99999. 영남단말기정비,정기권,NaN,20대,0.04,1.42,0.03
679462,2019-04-30,18,99999,99999. 영남단말기정비,정기권,F,20대,2.45,0.25,9.80
589837,2020-01-14,18,99999,99999. 영남단말기정비,정기권,M,40대,10.43,0.80,13.04
640091,2019-04-20,19,99999,99999. 영남단말기정비,정기권,M,20대,3.61,0.58,6.22
132521,2019-04-17,11,99999,99999. 영남단말기정비,정기권,M,40대,0.77,0.07,11.00

In [57]:
idx = df2[df2['대여소명']=='상담센터'].index  # 704064 rows
df2.drop(idx, inplace=True)
df2                                           # 704061 rows

C:\Users\asus\anaconda3\envs\django3\lib\site-packages\pandas\core\frame.py:4315: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,대여일자,대여시간,대여소번호,대여소명,대여권,성별,연령대,이동거리(KM),사용시간(hr),속도(km/h)
1,2018-12-02,14,1366,1366. 일신초등학교 옆,정기권,M,30대,2.43,0.32,7.59
2,2018-06-16,12,1675,1675. 월계문화체육센터,단체권,F,30대,31.01,3.20,9.69
3,2018-07-03,11,567,567. 성수역 2번출구 앞,정기권,M,70대~,3.73,0.72,5.18
5,2018-04-21,11,3102,3102. 연희삼거리,정기권,M,30대,3.01,0.28,10.75
7,2019-09-30,19,111,111. 상수역 2번출구 앞,정기권,M,20대,1.70,0.20,8.50
...,...,...,...,...,...,...,...,...,...,...
999995,2020-03-02,18,1288,1288. 문정중교 사거리,일일권,M,30대,12.64,1.55,8.15
999996,2018-08-22,8,714,714. 한국SGI 양천문화회관 앞,정기권,F,20대,1.38,0.17,8.12
999997,2020-07-01,17,2621,2621. 한성백제역 2번 출구,정기권,NaN,70대~,1.07,0.27,3.96
999998,2018-04-16,15,305,305. 종로구청 옆,정기권,F,40대,2.83,0.40,7.08
999999,2018-07-29,17,1019,1019. 다성이즈빌아파트(호원대 대각선 맞은편),정기권,F,20대,1.21,0.13,9.31

In [58]:
idx = df2[df2['대여소명']=='99999. 영남단말기정비'].index  
df2.drop(idx, inplace=True)
df2                                                           # 704024 rows

C:\Users\asus\anaconda3\envs\django3\lib\site-packages\pandas\core\frame.py:4315: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,대여일자,대여시간,대여소번호,대여소명,대여권,성별,연령대,이동거리(KM),사용시간(hr),속도(km/h)
1,2018-12-02,14,1366,1366. 일신초등학교 옆,정기권,M,30대,2.43,0.32,7.59
2,2018-06-16,12,1675,1675. 월계문화체육센터,단체권,F,30대,31.01,3.20,9.69
3,2018-07-03,11,567,567. 성수역 2번출구 앞,정기권,M,70대~,3.73,0.72,5.18
5,2018-04-21,11,3102,3102. 연희삼거리,정기권,M,30대,3.01,0.28,10.75
7,2019-09-30,19,111,111. 상수역 2번출구 앞,정기권,M,20대,1.70,0.20,8.50
...,...,...,...,...,...,...,...,...,...,...
999995,2020-03-02,18,1288,1288. 문정중교 사거리,일일권,M,30대,12.64,1.55,8.15
999996,2018-08-22,8,714,714. 한국SGI 양천문화회관 앞,정기권,F,20대,1.38,0.17,8.12
999997,2020-07-01,17,2621,2621. 한성백제역 2번 출구,정기권,NaN,70대~,1.07,0.27,3.96
999998,2018-04-16,15,305,305. 종로구청 옆,정기권,F,40대,2.83,0.40,7.08
999999,2018-07-29,17,1019,1019. 다성이즈빌아파트(호원대 대각선 맞은편),정기권,F,20대,1.21,0.13,9.31

In [59]:
df2.sort_values(by='대여소명', ascending=False)[:30]

,대여일자,대여시간,대여소번호,대여소명,대여권,성별,연령대,이동거리(KM),사용시간(hr),속도(km/h)
510568,2018-12-02,20,132,99998. 상암단말정비,정기권,M,30대,3.06,0.22,13.91
171229,2018-03-09,8,9999,9999. 중랑센터2,정기권,M,30대,0.71,0.05,14.20
92838,2018-01-04,0,9999,9999. 중랑센터2,정기권,M,40대,0.82,0.05,16.40
820114,2018-01-06,0,9999,9999. 중랑센터2,정기권,M,20대,1.69,0.12,14.08
605813,2018-04-06,22,9999,9999. 중랑센터2,정기권,M,40대,0.35,0.02,17.50
228889,2018-03-12,18,9999,9999. 중랑센터2,정기권,M,20대,7.23,0.80,9.04
328625,2018-01-18,18,9999,9999. 중랑센터2,일일권,M,30대,13.93,0.92,15.14
139399,2018-02-22,0,9999,9999. 중랑센터2,일일권,M,20대,5.56,0.55,10.11
844503,2018-02-05,22,9999,9999. 중랑센터2,정기권,M,40대,0.97,0.05,19.40
358094,2018-03-22,17,9999,9999. 중랑센터2,정기권,M,50대,0.90,0.05,18.00
814010,2018-01-05,14,9999,9999. 중랑센터2,일일권,M,40대,0.98,0.07,14.00
185050,2018-03-06,21,9999,9999. 중랑센터2,정기권,M,30대,4.99,0.33,15.12
978494,2018-01-06,6,9999,9999. 중랑센터2,정기권,M,30대,1.89,0.15,12.60
909948,2018-03-13,19,9999,9999. 중랑센터2,정기권,M,30대,6.48,0.45,14.40
290452,2018-02-22,9,9999,9999. 중랑센터2,정기권,M,40대,0.98,0.08,12.25
69251,2018-01-24,0,9999,9999. 중랑센터2,정기권,M,30대,0.96,0.05,19.20
432490,2018-01-24,12,9999,9999. 중랑센터2,정기권,M,30대,0.79,0.15,5.27
499206,2018-04-03,17,9999,9999. 중랑센터2,정기권,M,50대,0.25,0.05,5.00
914145,2018-02-19,7,9999,9999. 중랑센터2,정기권,M,30대,0.73,0.05,14.60
546684,2018-03-13,19,9999,9999. 중랑센터2,정기권,M,20대,3.47,0.48,7.23
137965,2018-04-03,20,9999,9999. 중랑센터2,일일권,F,20대,10.69,0.80,13.36
925997,2018-03-23,18,9999,9999. 중랑센터2,정기권,M,40대,18.99,1.57,12.10
321210,2018-03-09,9,9999,9999. 중랑센터2,정기권,M,40대,0.99,0.08,12.38
820219,2018-03-13,7,9999,9999. 중랑센터2,정기권,F,30대,0.95,0.07,13.57
804728,2018-02-10,0,9999,9999. 중랑센터2,정기권,M,20대,1.68,0.08,21.00
297505,2018-02-19,19,9999,9999. 중랑센터2,정기권,M,30대,16.33,1.35,12.10
443861,2018-03-12,18,9999,9999. 중랑센터2,정기권,M,50대,6.04,1.32,4.58
614199,2018-04-10,10,9999,9999. 중랑센터2,일일권,F,40대,5.41,0.93,5.82
802393,2018-02-02,7,9999,9999. 중랑센터2,정기권,M,30대,1.73,0.13,13.31
84002,2018-03-08,21,9999,9999. 중랑센터2,정기권,F,30대,2.47,0.23,10.74

In [60]:
# 대여소 번호가 101보다 작은 경우 
# 9000번 이상인 경우도 모두 대여소 목록에 없는 대여소에서 생성한 데이터 => 제거

idx = df2[df2['대여소번호'] < 101].index

In [61]:
df2.drop(idx, inplace=True)
df2                                         # 704007 rows

C:\Users\asus\anaconda3\envs\django3\lib\site-packages\pandas\core\frame.py:4315: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,대여일자,대여시간,대여소번호,대여소명,대여권,성별,연령대,이동거리(KM),사용시간(hr),속도(km/h)
1,2018-12-02,14,1366,1366. 일신초등학교 옆,정기권,M,30대,2.43,0.32,7.59
2,2018-06-16,12,1675,1675. 월계문화체육센터,단체권,F,30대,31.01,3.20,9.69
3,2018-07-03,11,567,567. 성수역 2번출구 앞,정기권,M,70대~,3.73,0.72,5.18
5,2018-04-21,11,3102,3102. 연희삼거리,정기권,M,30대,3.01,0.28,10.75
7,2019-09-30,19,111,111. 상수역 2번출구 앞,정기권,M,20대,1.70,0.20,8.50
...,...,...,...,...,...,...,...,...,...,...
999995,2020-03-02,18,1288,1288. 문정중교 사거리,일일권,M,30대,12.64,1.55,8.15
999996,2018-08-22,8,714,714. 한국SGI 양천문화회관 앞,정기권,F,20대,1.38,0.17,8.12
999997,2020-07-01,17,2621,2621. 한성백제역 2번 출구,정기권,NaN,70대~,1.07,0.27,3.96
999998,2018-04-16,15,305,305. 종로구청 옆,정기권,F,40대,2.83,0.40,7.08
999999,2018-07-29,17,1019,1019. 다성이즈빌아파트(호원대 대각선 맞은편),정기권,F,20대,1.21,0.13,9.31

In [62]:
idx = df2[df2['대여소번호'] >= 9000].index
df2.drop(idx, inplace=True)
df2                                         # 703957 rows

C:\Users\asus\anaconda3\envs\django3\lib\site-packages\pandas\core\frame.py:4315: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,대여일자,대여시간,대여소번호,대여소명,대여권,성별,연령대,이동거리(KM),사용시간(hr),속도(km/h)
1,2018-12-02,14,1366,1366. 일신초등학교 옆,정기권,M,30대,2.43,0.32,7.59
2,2018-06-16,12,1675,1675. 월계문화체육센터,단체권,F,30대,31.01,3.20,9.69
3,2018-07-03,11,567,567. 성수역 2번출구 앞,정기권,M,70대~,3.73,0.72,5.18
5,2018-04-21,11,3102,3102. 연희삼거리,정기권,M,30대,3.01,0.28,10.75
7,2019-09-30,19,111,111. 상수역 2번출구 앞,정기권,M,20대,1.70,0.20,8.50
...,...,...,...,...,...,...,...,...,...,...
999995,2020-03-02,18,1288,1288. 문정중교 사거리,일일권,M,30대,12.64,1.55,8.15
999996,2018-08-22,8,714,714. 한국SGI 양천문화회관 앞,정기권,F,20대,1.38,0.17,8.12
999997,2020-07-01,17,2621,2621. 한성백제역 2번 출구,정기권,NaN,70대~,1.07,0.27,3.96
999998,2018-04-16,15,305,305. 종로구청 옆,정기권,F,40대,2.83,0.40,7.08
999999,2018-07-29,17,1019,1019. 다성이즈빌아파트(호원대 대각선 맞은편),정기권,F,20대,1.21,0.13,9.31

In [65]:
# 속도(km/h) 45보다 빠르다면 기록이 이상 => 제거
# df2.sort_values(by='속도(km/h)', ascending=False)[:100] 
idx = df2[df2['속도(km/h)'] > 45].index
df2.drop(idx, inplace=True)
df2                                        # 702819 rows

C:\Users\asus\anaconda3\envs\django3\lib\site-packages\pandas\core\frame.py:4315: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,대여일자,대여시간,대여소번호,대여소명,대여권,성별,연령대,이동거리(KM),사용시간(hr),속도(km/h)
1,2018-12-02,14,1366,1366. 일신초등학교 옆,정기권,M,30대,2.43,0.32,7.59
2,2018-06-16,12,1675,1675. 월계문화체육센터,단체권,F,30대,31.01,3.20,9.69
3,2018-07-03,11,567,567. 성수역 2번출구 앞,정기권,M,70대~,3.73,0.72,5.18
5,2018-04-21,11,3102,3102. 연희삼거리,정기권,M,30대,3.01,0.28,10.75
7,2019-09-30,19,111,111. 상수역 2번출구 앞,정기권,M,20대,1.70,0.20,8.50
...,...,...,...,...,...,...,...,...,...,...
999995,2020-03-02,18,1288,1288. 문정중교 사거리,일일권,M,30대,12.64,1.55,8.15
999996,2018-08-22,8,714,714. 한국SGI 양천문화회관 앞,정기권,F,20대,1.38,0.17,8.12
999997,2020-07-01,17,2621,2621. 한성백제역 2번 출구,정기권,NaN,70대~,1.07,0.27,3.96
999998,2018-04-16,15,305,305. 종로구청 옆,정기권,F,40대,2.83,0.40,7.08
999999,2018-07-29,17,1019,1019. 다성이즈빌아파트(호원대 대각선 맞은편),정기권,F,20대,1.21,0.13,9.31

In [66]:
df2.sort_values(by='속도(km/h)', ascending=False)

,대여일자,대여시간,대여소번호,대여소명,대여권,성별,연령대,이동거리(KM),사용시간(hr),속도(km/h)
708781,2019-10-26,0,247,247. 당산역 10번출구 앞,정기권,NaN,30대,5.40,0.12,45.00
954676,2020-03-30,18,1121,1121. 가양레포츠센터앞,정기권,M,30대,16.65,0.37,45.00
158148,2020-03-25,23,152,152. 마포구민체육센터 앞,단체권,F,20대,114.70,2.55,44.98
548130,2020-04-27,16,207,207. 여의나루역 1번출구 앞,정기권,NaN,50대,68.37,1.52,44.98
336404,2020-05-07,12,640,640. KEB하나은행 청량리역지점,정기권,M,20대,10.34,0.23,44.96
...,...,...,...,...,...,...,...,...,...,...
632494,2020-05-30,18,815,815. LIG강촌아파트 103동앞,일일권,F,20대,0.01,2.38,0.00
624894,2020-10-01,19,210,210. IFC몰,정기권,F,30대,0.01,3.17,0.00
161821,2020-04-29,13,1690,1690. 도봉운전면허시험장,일일권,NaN,20대,0.01,2.05,0.00
764688,2020-09-14,19,502,502. 뚝섬유원지역 1번출구 앞,일일권,F,~10대,0.01,2.27,0.00
764772,2020-05-21,23,1166,1166. 강서구립등빛도서관,일일권,NaN,20대,0.01,6.60,0.00

In [68]:
# 사용시간(hr) 6시간을 초과할 경우
# 프리미엄권은 최대 6시간 내에 반납을 하지 않으면 분실 처리 =>도난 신고  => 제거
# df2.sort_values(by='사용시간(hr)', ascending=False)

idx = df2[df2['사용시간(hr)'] > 6].index
df2.drop(idx, inplace=True)
df2                                             # 701473 rows

C:\Users\asus\anaconda3\envs\django3\lib\site-packages\pandas\core\frame.py:4315: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,대여일자,대여시간,대여소번호,대여소명,대여권,성별,연령대,이동거리(KM),사용시간(hr),속도(km/h)
1,2018-12-02,14,1366,1366. 일신초등학교 옆,정기권,M,30대,2.43,0.32,7.59
2,2018-06-16,12,1675,1675. 월계문화체육센터,단체권,F,30대,31.01,3.20,9.69
3,2018-07-03,11,567,567. 성수역 2번출구 앞,정기권,M,70대~,3.73,0.72,5.18
5,2018-04-21,11,3102,3102. 연희삼거리,정기권,M,30대,3.01,0.28,10.75
7,2019-09-30,19,111,111. 상수역 2번출구 앞,정기권,M,20대,1.70,0.20,8.50
...,...,...,...,...,...,...,...,...,...,...
999995,2020-03-02,18,1288,1288. 문정중교 사거리,일일권,M,30대,12.64,1.55,8.15
999996,2018-08-22,8,714,714. 한국SGI 양천문화회관 앞,정기권,F,20대,1.38,0.17,8.12
999997,2020-07-01,17,2621,2621. 한성백제역 2번 출구,정기권,NaN,70대~,1.07,0.27,3.96
999998,2018-04-16,15,305,305. 종로구청 옆,정기권,F,40대,2.83,0.40,7.08
999999,2018-07-29,17,1019,1019. 다성이즈빌아파트(호원대 대각선 맞은편),정기권,F,20대,1.21,0.13,9.31

In [69]:
df2.sort_values(by='사용시간(hr)', ascending=False)

,대여일자,대여시간,대여소번호,대여소명,대여권,성별,연령대,이동거리(KM),사용시간(hr),속도(km/h)
956865,2020-04-04,18,1306,1306. 한성대입구역2번출구,정기권,NaN,20대,28.06,6.00,4.68
11202,2019-08-16,18,146,146. 마포역 2번출구 뒤,일일권,NaN,20대,44.60,6.00,7.43
584128,2019-06-22,16,249,249. 여의도중학교 옆,일일권,NaN,20대,58.66,6.00,9.78
84815,2020-05-16,18,2024,2024. 상도역 1번출구,일일권,NaN,20대,34.59,6.00,5.76
969710,2019-06-11,18,117,117. 홍은사거리,일일권,NaN,20대,70.63,6.00,11.77
...,...,...,...,...,...,...,...,...,...,...
238868,2017-08-17,16,213,213. KT앞,정기,M,40대,0.58,0.02,29.00
207983,2017-06-20,18,331,331. 을지로2가 사거리 북측,정기,M,~10대,0.37,0.02,18.50
623381,2017-07-07,17,326,326. 안국역 5번출구 앞,정기,M,50대,0.34,0.02,17.00
929240,2019-10-21,14,588,588. 뚝섬 유원지역,일일권,F,30대,0.10,0.02,5.00
500499,2019-10-04,9,421,421. 마포구청 앞,정기권,M,20대,0.45,0.02,22.50

In [78]:
# 대여권 일일권 권, 성별 fF

f         112
m         181
\N       3690
F      172529
NaN    239841
M      285120
Name: 성별, dtype: int64

In [79]:
# CHANGE THE ORDER OF COLUMNS 

df2.columns
df2 = df2[['대여일자','대여시간', '대여소번호', '대여소명', '대여권', '연령대', '성별', '이동거리(KM)', '사용시간(hr)', '속도(km/h)']]
df2

,대여일자,대여시간,대여소번호,대여소명,대여권,연령대,성별,이동거리(KM),사용시간(hr),속도(km/h)
1,2018-12-02,14,1366,1366. 일신초등학교 옆,정기권,30대,M,2.43,0.32,7.59
2,2018-06-16,12,1675,1675. 월계문화체육센터,단체권,30대,F,31.01,3.20,9.69
3,2018-07-03,11,567,567. 성수역 2번출구 앞,정기권,70대~,M,3.73,0.72,5.18
5,2018-04-21,11,3102,3102. 연희삼거리,정기권,30대,M,3.01,0.28,10.75
7,2019-09-30,19,111,111. 상수역 2번출구 앞,정기권,20대,M,1.70,0.20,8.50
...,...,...,...,...,...,...,...,...,...,...
999995,2020-03-02,18,1288,1288. 문정중교 사거리,일일권,30대,M,12.64,1.55,8.15
999996,2018-08-22,8,714,714. 한국SGI 양천문화회관 앞,정기권,20대,F,1.38,0.17,8.12
999997,2020-07-01,17,2621,2621. 한성백제역 2번 출구,정기권,70대~,NaN,1.07,0.27,3.96
999998,2018-04-16,15,305,305. 종로구청 옆,정기권,40대,F,2.83,0.40,7.08
999999,2018-07-29,17,1019,1019. 다성이즈빌아파트(호원대 대각선 맞은편),정기권,20대,F,1.21,0.13,9.31

In [81]:
# RENAME COLUMN 
df2.rename(columns = {'이동거리(KM)':'이동거리(km)'}, inplace=True)
df2

,대여일자,대여시간,대여소번호,대여소명,대여권,연령대,성별,이동거리(km),사용시간(hr),속도(km/h)
1,2018-12-02,14,1366,1366. 일신초등학교 옆,정기권,30대,M,2.43,0.32,7.59
2,2018-06-16,12,1675,1675. 월계문화체육센터,단체권,30대,F,31.01,3.20,9.69
3,2018-07-03,11,567,567. 성수역 2번출구 앞,정기권,70대~,M,3.73,0.72,5.18
5,2018-04-21,11,3102,3102. 연희삼거리,정기권,30대,M,3.01,0.28,10.75
7,2019-09-30,19,111,111. 상수역 2번출구 앞,정기권,20대,M,1.70,0.20,8.50
...,...,...,...,...,...,...,...,...,...,...
999995,2020-03-02,18,1288,1288. 문정중교 사거리,일일권,30대,M,12.64,1.55,8.15
999996,2018-08-22,8,714,714. 한국SGI 양천문화회관 앞,정기권,20대,F,1.38,0.17,8.12
999997,2020-07-01,17,2621,2621. 한성백제역 2번 출구,정기권,70대~,NaN,1.07,0.27,3.96
999998,2018-04-16,15,305,305. 종로구청 옆,정기권,40대,F,2.83,0.40,7.08
999999,2018-07-29,17,1019,1019. 다성이즈빌아파트(호원대 대각선 맞은편),정기권,20대,F,1.21,0.13,9.31

0