In [2]:
import pandas as pd
from pandas import DataFrame
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

import platform
from matplotlib import font_manager, rc # Runtime Configuration
path = "c:/Windows/Fonts/malgun.ttf"
if platform.system() == 'Darwin':
    rc('font', family='AppleGothic')
elif platform.system() == 'Windows':
    font_name = font_manager.FontProperties(fname=path).get_name()
    rc('font', family=font_name)
else:
    print('Unknown system')

In [3]:
df = pd.read_csv('bicycle5.csv', encoding='utf-8')
df

,Unnamed: 0,대여일자,대여시간(24),대여소번호,대여소명,대여권,연령대,성별,이동거리(km),사용시간(hr),속도(km/h),년,월
0,0,2018-12-02,14,1366,1366. 일신초등학교 옆,정기권,30대,M,2.43,0.32,7.59,2018,12
1,1,2018-06-16,12,1675,1675. 월계문화체육센터,단체권,30대,F,31.01,3.20,9.69,2018,6
2,2,2018-07-03,11,567,567. 성수역 2번출구 앞,정기권,70대~,M,3.73,0.72,5.18,2018,7
3,3,2018-04-21,11,3102,3102. 연희삼거리,정기권,30대,M,3.01,0.28,10.75,2018,4
4,4,2019-09-30,19,111,111. 상수역 2번출구 앞,정기권,20대,M,1.70,0.20,8.50,2019,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...
701468,701468,2020-03-02,18,1288,1288. 문정중교 사거리,일일권,30대,M,12.64,1.55,8.15,2020,3
701469,701469,2018-08-22,8,714,714. 한국SGI 양천문화회관 앞,정기권,20대,F,1.38,0.17,8.12,2018,8
701470,701470,2020-07-01,17,2621,2621. 한성백제역 2번 출구,정기권,70대~,NaN,1.07,0.27,3.96,2020,7
701471,701471,2018-04-16,15,305,305. 종로구청 옆,정기권,40대,F,2.83,0.40,7.08,2018,4
701472,701472,2018-07-29,17,1019,1019. 다성이즈빌아파트(호원대 대각선 맞은편),정기권,20대,F,1.21,0.13,9.31,2018,7

In [6]:
del df['Unnamed: 0']
df.head()

,대여일자,대여시간(24),대여소번호,대여소명,대여권,연령대,성별,이동거리(km),사용시간(hr),속도(km/h),년,월
0,2018-12-02,14,1366,1366. 일신초등학교 옆,정기권,30대,M,2.43,0.32,7.59,2018,12
1,2018-06-16,12,1675,1675. 월계문화체육센터,단체권,30대,F,31.01,3.20,9.69,2018,6
2,2018-07-03,11,567,567. 성수역 2번출구 앞,정기권,70대~,M,3.73,0.72,5.18,2018,7
3,2018-04-21,11,3102,3102. 연희삼거리,정기권,30대,M,3.01,0.28,10.75,2018,4
4,2019-09-30,19,111,111. 상수역 2번출구 앞,정기권,20대,M,1.70,0.20,8.50,2019,9

In [ ]:
sns.barplot(y=membership_type.index, x=membership_type.values)

In [ ]:
# 연령대 & 대여권 

age_counts = df['연령대'].value_counts()
membership_type = df['대여권'].value_counts()

In [ ]:
df2 = pd.merge(age, membership, left_index=True, right_index=True, how='left')
df2

In [ ]:
plt.figure(figsize=(6,6))

plt.scatter(df2['연령대'], df2['대여권'], s=50)

plt.xlabel('연령대')
plt.ylabel('대여권') 
plt.grid()
plt.show()