In [10]:
import pandas as pd
from pandas import DataFrame

In [2]:
df = pd.read_csv('bicycle4.csv', encoding='utf-8')
df

,Unnamed: 0,대여일자,대여시간,대여소번호,대여소명,대여권,연령대,성별,이동거리(km),사용시간(hr),속도(km/h)
0,1,2018-12-02,14,1366,1366. 일신초등학교 옆,정기권,30대,M,2.43,0.32,7.59
1,2,2018-06-16,12,1675,1675. 월계문화체육센터,단체권,30대,F,31.01,3.20,9.69
2,3,2018-07-03,11,567,567. 성수역 2번출구 앞,정기권,70대~,M,3.73,0.72,5.18
3,5,2018-04-21,11,3102,3102. 연희삼거리,정기권,30대,M,3.01,0.28,10.75
4,7,2019-09-30,19,111,111. 상수역 2번출구 앞,정기권,20대,M,1.70,0.20,8.50
...,...,...,...,...,...,...,...,...,...,...,...
701468,999995,2020-03-02,18,1288,1288. 문정중교 사거리,일일권,30대,M,12.64,1.55,8.15
701469,999996,2018-08-22,8,714,714. 한국SGI 양천문화회관 앞,정기권,20대,F,1.38,0.17,8.12
701470,999997,2020-07-01,17,2621,2621. 한성백제역 2번 출구,정기권,70대~,NaN,1.07,0.27,3.96
701471,999998,2018-04-16,15,305,305. 종로구청 옆,정기권,40대,F,2.83,0.40,7.08
701472,999999,2018-07-29,17,1019,1019. 다성이즈빌아파트(호원대 대각선 맞은편),정기권,20대,F,1.21,0.13,9.31

In [3]:
del df['Unnamed: 0']
df

,대여일자,대여시간,대여소번호,대여소명,대여권,연령대,성별,이동거리(km),사용시간(hr),속도(km/h)
0,2018-12-02,14,1366,1366. 일신초등학교 옆,정기권,30대,M,2.43,0.32,7.59
1,2018-06-16,12,1675,1675. 월계문화체육센터,단체권,30대,F,31.01,3.20,9.69
2,2018-07-03,11,567,567. 성수역 2번출구 앞,정기권,70대~,M,3.73,0.72,5.18
3,2018-04-21,11,3102,3102. 연희삼거리,정기권,30대,M,3.01,0.28,10.75
4,2019-09-30,19,111,111. 상수역 2번출구 앞,정기권,20대,M,1.70,0.20,8.50
...,...,...,...,...,...,...,...,...,...,...
701468,2020-03-02,18,1288,1288. 문정중교 사거리,일일권,30대,M,12.64,1.55,8.15
701469,2018-08-22,8,714,714. 한국SGI 양천문화회관 앞,정기권,20대,F,1.38,0.17,8.12
701470,2020-07-01,17,2621,2621. 한성백제역 2번 출구,정기권,70대~,NaN,1.07,0.27,3.96
701471,2018-04-16,15,305,305. 종로구청 옆,정기권,40대,F,2.83,0.40,7.08
701472,2018-07-29,17,1019,1019. 다성이즈빌아파트(호원대 대각선 맞은편),정기권,20대,F,1.21,0.13,9.31

In [4]:
df.rename(columns={'대여시간':'대여시간(24)'},inplace=True)
df

,대여일자,대여시간(24),대여소번호,대여소명,대여권,연령대,성별,이동거리(km),사용시간(hr),속도(km/h)
0,2018-12-02,14,1366,1366. 일신초등학교 옆,정기권,30대,M,2.43,0.32,7.59
1,2018-06-16,12,1675,1675. 월계문화체육센터,단체권,30대,F,31.01,3.20,9.69
2,2018-07-03,11,567,567. 성수역 2번출구 앞,정기권,70대~,M,3.73,0.72,5.18
3,2018-04-21,11,3102,3102. 연희삼거리,정기권,30대,M,3.01,0.28,10.75
4,2019-09-30,19,111,111. 상수역 2번출구 앞,정기권,20대,M,1.70,0.20,8.50
...,...,...,...,...,...,...,...,...,...,...
701468,2020-03-02,18,1288,1288. 문정중교 사거리,일일권,30대,M,12.64,1.55,8.15
701469,2018-08-22,8,714,714. 한국SGI 양천문화회관 앞,정기권,20대,F,1.38,0.17,8.12
701470,2020-07-01,17,2621,2621. 한성백제역 2번 출구,정기권,70대~,NaN,1.07,0.27,3.96
701471,2018-04-16,15,305,305. 종로구청 옆,정기권,40대,F,2.83,0.40,7.08
701472,2018-07-29,17,1019,1019. 다성이즈빌아파트(호원대 대각선 맞은편),정기권,20대,F,1.21,0.13,9.31

In [5]:
# 월 연도 추출 
import numpy as np
import datetime

In [6]:
# 데이터의 원본을 보존하기 위해 데이터를 복사
pandas_copy = df.copy()

In [7]:
pandas_copy

,대여일자,대여시간(24),대여소번호,대여소명,대여권,연령대,성별,이동거리(km),사용시간(hr),속도(km/h)
0,2018-12-02,14,1366,1366. 일신초등학교 옆,정기권,30대,M,2.43,0.32,7.59
1,2018-06-16,12,1675,1675. 월계문화체육센터,단체권,30대,F,31.01,3.20,9.69
2,2018-07-03,11,567,567. 성수역 2번출구 앞,정기권,70대~,M,3.73,0.72,5.18
3,2018-04-21,11,3102,3102. 연희삼거리,정기권,30대,M,3.01,0.28,10.75
4,2019-09-30,19,111,111. 상수역 2번출구 앞,정기권,20대,M,1.70,0.20,8.50
...,...,...,...,...,...,...,...,...,...,...
701468,2020-03-02,18,1288,1288. 문정중교 사거리,일일권,30대,M,12.64,1.55,8.15
701469,2018-08-22,8,714,714. 한국SGI 양천문화회관 앞,정기권,20대,F,1.38,0.17,8.12
701470,2020-07-01,17,2621,2621. 한성백제역 2번 출구,정기권,70대~,NaN,1.07,0.27,3.96
701471,2018-04-16,15,305,305. 종로구청 옆,정기권,40대,F,2.83,0.40,7.08
701472,2018-07-29,17,1019,1019. 다성이즈빌아파트(호원대 대각선 맞은편),정기권,20대,F,1.21,0.13,9.31

In [8]:
# pandas.Series.dt.year() & pandas.Series.dt.month()의 object - Datetime 항목에 대해 
# np 연도 및 월의 배열을 리턴
dates = pandas_copy['대여일자']
pandas_copy = pd.DataFrame({'대여일자': pd.to_datetime(dates)})

In [9]:
pandas_copy['년'] = pandas_copy['대여일자'].dt.year
pandas_copy['월'] = pandas_copy['대여일자'].dt.month
pandas_copy

             대여일자     년   월
0      2018-12-02  2018  12
1      2018-06-16  2018   6
2      2018-07-03  2018   7
3      2018-04-21  2018   4
4      2019-09-30  2019   9
...           ...   ...  ..
701468 2020-03-02  2020   3
701469 2018-08-22  2018   8
701470 2020-07-01  2020   7
701471 2018-04-16  2018   4
701472 2018-07-29  2018   7

[701473 rows x 3 columns]

In [13]:
# df.join(pandas_copy, how='left')
df2 = pd.merge(df, pandas_copy, left_index=True, right_index=True, how='left')
df2

,대여일자_x,대여시간(24),대여소번호,대여소명,대여권,연령대,성별,이동거리(km),사용시간(hr),속도(km/h),대여일자_y,년,월
0,2018-12-02,14,1366,1366. 일신초등학교 옆,정기권,30대,M,2.43,0.32,7.59,2018-12-02,2018,12
1,2018-06-16,12,1675,1675. 월계문화체육센터,단체권,30대,F,31.01,3.20,9.69,2018-06-16,2018,6
2,2018-07-03,11,567,567. 성수역 2번출구 앞,정기권,70대~,M,3.73,0.72,5.18,2018-07-03,2018,7
3,2018-04-21,11,3102,3102. 연희삼거리,정기권,30대,M,3.01,0.28,10.75,2018-04-21,2018,4
4,2019-09-30,19,111,111. 상수역 2번출구 앞,정기권,20대,M,1.70,0.20,8.50,2019-09-30,2019,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...
701468,2020-03-02,18,1288,1288. 문정중교 사거리,일일권,30대,M,12.64,1.55,8.15,2020-03-02,2020,3
701469,2018-08-22,8,714,714. 한국SGI 양천문화회관 앞,정기권,20대,F,1.38,0.17,8.12,2018-08-22,2018,8
701470,2020-07-01,17,2621,2621. 한성백제역 2번 출구,정기권,70대~,NaN,1.07,0.27,3.96,2020-07-01,2020,7
701471,2018-04-16,15,305,305. 종로구청 옆,정기권,40대,F,2.83,0.40,7.08,2018-04-16,2018,4
701472,2018-07-29,17,1019,1019. 다성이즈빌아파트(호원대 대각선 맞은편),정기권,20대,F,1.21,0.13,9.31,2018-07-29,2018,7

In [14]:
df2.rename(columns={'대여일자_x':'대여일자'},inplace=True)
del df2['대여일자_y']
df2

,대여일자,대여시간(24),대여소번호,대여소명,대여권,연령대,성별,이동거리(km),사용시간(hr),속도(km/h),년,월
0,2018-12-02,14,1366,1366. 일신초등학교 옆,정기권,30대,M,2.43,0.32,7.59,2018,12
1,2018-06-16,12,1675,1675. 월계문화체육센터,단체권,30대,F,31.01,3.20,9.69,2018,6
2,2018-07-03,11,567,567. 성수역 2번출구 앞,정기권,70대~,M,3.73,0.72,5.18,2018,7
3,2018-04-21,11,3102,3102. 연희삼거리,정기권,30대,M,3.01,0.28,10.75,2018,4
4,2019-09-30,19,111,111. 상수역 2번출구 앞,정기권,20대,M,1.70,0.20,8.50,2019,9
...,...,...,...,...,...,...,...,...,...,...,...,...
701468,2020-03-02,18,1288,1288. 문정중교 사거리,일일권,30대,M,12.64,1.55,8.15,2020,3
701469,2018-08-22,8,714,714. 한국SGI 양천문화회관 앞,정기권,20대,F,1.38,0.17,8.12,2018,8
701470,2020-07-01,17,2621,2621. 한성백제역 2번 출구,정기권,70대~,NaN,1.07,0.27,3.96,2020,7
701471,2018-04-16,15,305,305. 종로구청 옆,정기권,40대,F,2.83,0.40,7.08,2018,4
701472,2018-07-29,17,1019,1019. 다성이즈빌아파트(호원대 대각선 맞은편),정기권,20대,F,1.21,0.13,9.31,2018,7

In [27]:
# 1. 년도 별
# df2['년'].unique() 
df2['년'].value_counts(ascending=True, dropna=False)
                                                        # 2017     97002
                                                        # 2018    148884
                                                        # 2020    157664
                                                        # 2019    297923
# df2.sort_values(by='년', ascending=True)


# df['column_name'].value_counts()[:20]
# df2['월'].value_counts(sort=False, ascending=True, dropna=False)                 유일값 오름차
#                       (sort=True, ascending=False, dropna=False)                 갯수 많은 순서대로 내림차 

#                                             default : value_counts(sort=True, ascending=False) 
                                           
#                                             sort=True : 개수 기준 정렬,           False 유일한 값 기준 
#                                             ascending=False : 내림차,            True 오름차순 
#                                             dropna=False : NaN 포함

2017     97002
2018    148884
2020    157664
2019    297923
Name: 년, dtype: int64

In [29]:
# 2. 월 별
# df2['월'].unique() 
# df2['월'].value_counts(sort=False, ascending=True, dropna=False)

1     27718
2     25426
3     37628
4     60684
5     80720
6     84124
7     87064
8     63558
9     72585
10    75577
11    50000
12    36389
Name: 월, dtype: int64

In [33]:
df2.to_csv('bicycle5.csv', sep=',')